.DS_Store

*.nii
*.json
*.xml
*.log
*.mat
*.html

# ignore content of the build folder of the doc
docs/build/*

# ignore virtual env
envs/*

# visual studio code stuff
.vscode

atlas/visual_topography_probability_atlas/

demos/*/derivatives


#for testing
coveragage_html
lib/bids-matlab


## MATLAB / OCTAVE gitignore template

# From : https://github.com/github/gitignore/blob/master/Global/MATLAB.gitignore


# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace


